<h2>New line:</h2>
<hr>
<form class="form-inline form" action="/<%= @string_form %>/<%= @part_of_speech %>" method="post">
  <div class="form-group">
    <input type="text" id="meaning" name="meaning" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<a href="/" class="home">Dictionary</a>
